<% if @vehicles.any? %>
  <div class="grid grid-cols-6">
    <aside class="listing col-span-6 lg:col-span-3 xl:col-span-2 overflow-y-auto h-[calc(100vh-72px)]">
      <div class="p-6">
        <h2 class="mb-4 text-2xl font-semibold">Znalezione pojazdy (<%= @vehicles.count %>)</h2>
        <% @vehicles.each do |vehicle| %>
          <%= render_card title: link_to(vehicle.name, vehicle),
                          subtitle: vehicle.location,
                          class: "w-100 mb-4" do  %>
            <div class="grid grid-cols-6 px-6 pb-6 gap-4">
              <div class="col-span-2">
                <% if vehicle.images.attached? %>
                  <% image = vehicle.images.first %>

                  <%= image_tag(image.variant(resize_to_fill: [150, 150]),
                                alt: vehicle.name,
                                width: 150,
                                height: 150,
                                class: "rounded-lg object-fill mb-5") %>
                <% end %>
              </div>
              <div class="col-span-4">
                <ul class="space-y-1.5 text-left">
                  <% vehicle_features(vehicle).each do |feature| %>
                    <li class="flex items-center space-x-3">
                      <%= svg_icon('checkmark', class: 'shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400') %>
                      <span><%= "#{feature[:label]}: #{feature[:value]}" %></span>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </aside>
    <div class="hidden lg:block lg:col-span-3 xl:col-span-4 h-[calc(100vh-72px)]"
         data-controller="vehicles-map"
         data-vehicles-map-vehicles-value="<%= @vehicles_map_json %>"
    ></div>
  </div>
<% else %>
  <div class="container mx-auto flex-col flex max-w-[980px] py-6 px-0">
    <%= render_alert title: "Nie znaleziono pojazdów",
                     description: "Spróbuj zmienić kryteria wyszukiwania lub wróć później." %>
  </div>
<% end %>

