<div class="container mx-auto flex max-w-[980px] px-6 md:px-0 justify-center">
  <div class="flex-col">
    <div class="mt-6">
      <%= render_card title: t(".title"), class: "w-[550px]" do %>
        <%= render_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form| %>
          <div class="px-6 pb-6">
            <div class="mb-4">
              <%= render "devise/shared/error_messages", resource: resource %>
            </div>
            <div class="grid grid-cols-3 items-baseline mb-4">
              <%= form.label :email, label: t(".email"), class: "text-right mr-4 text-lg" %>
              <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "col-span-2" %>
            </div>
            <div class="text-center mt-6">
              <%= form.submit t(".submit") %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="mt-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>